<section class=" mx mx-auto p-6 border-lime-100 list-container">
    <% if(locals.toBuy){ %>
    <table class="w-full">
        <thead>
          <tr>
            <th>🛒</th>
            <th>NAME</th>
            <th>QTY</th>
            <th>PRICE</th>
          </tr>
        </thead>
        <tbody>
            <% toBuy.forEach(function(item) { %>
            <form action="/status" method="post">
            <tr>
                <td>
                  <input 
                  type="checkbox" 
                  value="<%=item._id%>" 
                  onchange="this.form.submit()" 
                  name="checkbox" 
                  <%= item.checkbox ? "checked" :  " " %>  
                  >
                  <input type="hidden" name="checkbox" value="<%= item._id %>">
                  <input type="hidden" name="user" value="<%= locals.userName %>">
                  <input type="hidden" name="checkBoxStatus" value="<%= item.checkbox ? true :  false %>">
                </td>
                <td class="todo-item, <%= item.checkbox ? 'line-through' : '' %>" ><%= item.name %></td>
                <td><%= item.quantity %></td>
                <td><%= item.price %></td>
            </tr>
            </form>
            <% }) %>
        </tbody>
    </table>
    <% }   %>
</section>